.navBar {
    background-color: #3482b5;
    position: relative;
    overflow: visible;
    z-index: 2;
}

.form {
    background-color: #1f1b24;
    padding: 2% 0 4% 0;
    margin-top: 4%;
    padding-bottom: 15%;
}

.card {
    margin: 8% auto -2% auto;
    width: 440px;
    height: 620px;
    background: rgb(42, 40, 46);
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.contactTitle {
    margin: 20px 10px 30px 10px;
    padding-bottom: 10px;
    width: 220px;
    color: white;
    border-bottom: 3px solid;
}

.textInput {
    width: 100%;
    padding: 5% 10% 4% 10%;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    transition: all 0.3s;
    border-bottom: 2px solid rgb(27, 22, 34);
}

.textInput:focus {
    border-bottom: 2px solid #78788c;
}

.pType:before {
    content: attr(type);
    display: block;
    margin: 28px 0% 5% 0%;
    font-size: 20px;
    color: #b6abab;
}

.btn {
    float: right;
    padding: 18px 20px;
    margin: 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #b8b8c4;
    cursor: pointer;
    transition: all 0.9s;
    font-size: medium;
    font-weight: bold;
}

.btn:hover {
    background: #78788c;
    color: #fff;
}

.detailContainer {
    position: absolute;
    bottom: -15px;
    right: -20px;
    background-color: #50505a;
    color: white;
    padding: 16px 8px 16px 0px;
    font-size: 15px;
}

.detailContainer span {
    margin: 0px 5px 0px 15px;
}

@media (max-width: 800px) {
    .navBar #navCheck:checked ~ .navLinks {
        height: 200px;
        overflow-y: auto;
    }

    /* Social */
    .social {
        padding-top: 5%;
    }

    /* Logo */
    @media (max-width: 300px) {
        /* Social */
        .social {
            padding-top: 20%;
        }
    }
}
